div(class="topnav")
 a(href="/") Acasa
 a(href="/products") Produsele comercializate
 a(href="/taranii") Taranii meseriasi
 a(href="/info" style="float: right;") Informatii suplimentare
 div(class="cautare")
  form(action="/action_page.php")
      input(type="text" placeholder="Ce vrei sa stii?" name="search")
      button(type="submit") Cauta
