extends ../_component/layout/templateinfo

block cool-config
  -
    var myTitle = 'Leguma-Vesela';
    var myDescription = 'Legume de calitate, eco-legume, legume naturale';
    var landingPage = 'Taranii meseriasi';
    var activLink = '';


block about-us
 div(class="lineheight ")
  ul
   h1(id="centertextinfo") Contacteaza-ne !
  div(class="textintent")
   li(style="font-size: 19px; font-style: italic") Pentru mai multe informatii ne puteti contacta la:
   li Adresa de Email: leguma-vesela@yahoo.com
   li Sau la numarul de telefon: <b>076942XXXX

  h1(id="intrebari") Intrebari frecvente




