doctype html
html
  block cool-config
  head

    meta(name="description" content = myDescription)
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="/style.css")
    title= myTitle
  body
   include ../header/header
   include ../nav/nav

   div(class="row")
    div(class="leftcolumnp")
     div(class="card")
      block awesome-content1

    div(class="rightcolumnp")
     div(class="card")
      block about-us



   include ../footer/footer