doctype html
html
  block cool-config
  head

    meta(name="description" content = myDescription)
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet", href="https://stirbex.github.io/legume-site/style.css")
    title= myTitle

  body
   include ../header/header
   include ../nav/nav


   div(class="row")
    div(class="rightcolumni")
     div(class="card")
      block about-us



   include ../footer/footer