extends _component/layout/template

block cool-config
  -
    var myTitle = 'Leguma-Vesela';
    var myDescription = 'Legume de calitate, eco-legume, legume naturale';
    var landingPage = 'Acasa';
    var activLink = '';

block awesome-content1
 h2 Titlul paragrafului
 h5 Descrierea titlului(articolului)
 div(class="fakeimage" style="height:200px;") Image
 p legumele sunt cele mai important aliat
 p(class="textintent") Legumă este un termen culinar generic care desemnează orice parte a unei plante consumată uzual de oameni ca hrană, fiind o plantă cultivată sau necultivată care este cunoscută și apreciată de cultura populației locale, dar nu face parte din următoarele categorii culinare: cereale, fructe, ierburi sau mirodenii. Aceste plante fiind apreciate datorită conținutului lor în substanțe nutritive ca hidrocarbonate, proteine, grăsimi vegetale, vitamine, substanțe minerale, uleiuri eterice, acestea din urmă având rol important în digestie.





block awesome-content2
 h2 Titlul paragrafului
 h5 Descrierea titlului(articolului)
 div(class="fakeimage" style="height:200px;") Image
 p legumele sunt cele mai important aliat
 p(class="textintent") Legumă-vesela este un termen culinar generic care desemnează orice parte a unei plante consumată uzual de oameni ca hrană, fiind o plantă cultivată sau necultivată care este cunoscută și apreciată de cultura populației locale, dar nu face parte din următoarele categorii culinare: cereale, fructe, ierburi sau mirodenii. Aceste plante fiind apreciate datorită conținutului lor în substanțe nutritive ca hidrocarbonate, proteine, grăsimi vegetale, vitamine, substanțe minerale, uleiuri eterice, acestea din urmă având rol important în digestie.

block about-us
 h2 Despre noi
 div(class="fakeimage") Echipa Leguma-Vesela
 p(class="textintent") Suntem un site care dorim sa promovam cat ma mult legumele naturale si fermierii locali, site-ul se adreseaza in mare parte companiilor care doresc sa achizitioneze produse de o calitate exemplara la un pret foarte avantajos.

block products
 h2 Produse
 div(class="fakeimage") Produsele noastre
 p(class="textintent") Produsele noastre sunt atent selectionate dintr-o gamal arga de produccatori
 div(class="fakeimage") Rosii
 div(class="fakeimage") Castraveti
 div(class="fakeimage") Ardei
 div(class="fakeimage") Varza


block contact
 div(class="lastcolumn")
   h2(id="italiccontact") Contact
   p Email: leguma-vesela@yahoo.com <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; leguma-vesela@gmail.com
   p Telefon: 0769xxxxx
