@import 'reset';

:root {
    --color-sulu: #CCFFCC;
    
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: var(--color-sulu)
}

.header {
    text-align: center;
    background: white;
    padding: 30px;
}
.header p {
    padding-top: 15px;
}

 /* Style the header */
.header h1 {
    font-size: 60px;

}

.topnav {
    background-color: black;
    overflow: hidden;
}

/* I ve styled the buttons of top navigation menu */
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: green;
    color: yellow;
}

/* i ve create 2 unequal columns, the left one is bigger then right one */

/* this one ha 75% of the page-space */
.leftcolumn {
    float: left;
    width: 75%;
}

/* This one has 25% of the page-space */
.rightcolumn {
    float: left;
    width: 25%;
}

.fakeimage {
    background-color:grey;
    width: 100%;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.card h2 {
    font-size: 20px;
    font-style: italic;
    padding-bottom: 10px;
}
.card p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textintent {
    text-indent: 25px;
    color: black;
}

.leftcolumnp {   
    float: left;
    width: 15%;
    
  }

.rightcolumnp {
    float: left;
    width: 75%;
    background-color: white;
    padding-right: -80px;
    margin-left: 90px;
    margin-top: 18px;
  }

.leftcolumni {   
    float: left;
    width: 15%;
    
  }

.rightcolumni {
    float: left;
    width: 75%;
    background-color: white;
    padding-right: -90px;
    margin-left: 190px;
    margin-top: 18px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

#centertextinfo {
    text-align: left;
    font-size: 25px;
    margin-top: -20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lineheight {
    line-height: 50px;
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

#intrebari {
    font-size: 25px;

}
.footer {
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
    margin-top: 20px;
}

.lastcolumn {
    margin-bottom: 31px;
}

#italiccontact {
    font-family: monospace;
}


.cautare {
    margin-top: 10px;
    float: right;
    cursor: pointer;
    
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }