extends ../_component/layout/templatetaranii

block cool-config
  -
    var myTitle = 'Leguma-Vesela';
    var myDescription = 'Legume de calitate, eco-legume, legume naturale';
    var landingPage = 'Taranii meseriasi';
    var activLink = '';

block awesome-content1

block about-us






