extends ../_component/layout/templateprod

block cool-config
  -
    var myTitle = 'Leguma-Vesela';
    var myDescription = 'Legume de calitate, eco-legume, legume naturale';
    var landingPage = 'Produsele comercializate';
    var activLink = '';

block awesome-content1
 h2 Legumele &nbsp;&nbsp;&nbsp;&nbsp;Comercializate
 ul(type="none")
     li Rosii
     li Castraveti
     li Ceapa
     li Ardei





block about-us

